@import "compass";
@import "susy";

$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: lucida grande;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

body {
  font-family: $font-family;
  color: $font-color;
  background-color: #f0f0f0;
  line-height: $base-line-height;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  padding: 50px;
  @include container;
  background-color: #fff;
}

h1 {
  font-size: 24pt;
  background-color: #41abff;
  @include border-radius(10px);
  color: white;
  text-align: center;
  padding: 0.4em;
}

.footer {
  font-size: 10pt;
  color: grey;
  float: right;
  text-align: right;
}

#YMapsID {
  width: 100%;
  height: 600px;
  margin-bottom: 1em;
}