- content_for :head do
  %title Железнодорожные Кассы!
%h1 Железнодорожные Кассы Киева
%br

#YMapsID

.footer
  Данные взяты с сайта
  = link_to "railwayukr.com", "http://www.railwayukr.com/index.php?ln=ru&cont=cntrkasi.htm"
  %br
  &copy; 2012 ЖД Кассы